.navbar {
    background-color: var(--primary-color);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .navbar-brand {
    color: rgb(142, 142, 142) !important;
    font-weight: bold;
  }
  
  .nav-link {
    color: rgb(113, 113, 113) !important;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #f0f0f0 !important;
  }
  
  .keranjang-icon {
    position: relative;
  }
  
  .keranjang-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.7rem;
  }
  .badge {
    background-color: red; /* Mengatur warna latar belakang badge */
    color: white; /* Mengatur warna teks badge */
    border-radius: 12px; /* Membuat sudut badge menjadi bulat */
    padding: 2px 6px; /* Memberikan ruang di dalam badge */
    position: absolute; /* Mengatur posisi badge secara absolut */
    top: -5px; /* Menempatkan badge sedikit di atas ikon */
    right: -10px; /* Menempatkan badge sedikit di sebelah kanan ikon */
  }
  .cart-icon {
    position: relative; /* Mengatur posisi relatif untuk badge */
    cursor: pointer; /* Mengubah kursor menjadi pointer saat hover */
    display: flex; /* Menggunakan Flexbox untuk menyelaraskan ikon dan badge */
    align-items: center; /* Menyelaraskan ikon dan badge secara vertikal */
  }